* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 5px 20px;
  background-image: url(https://t3.ftcdn.net/jpg/05/85/86/44/360_F_585864419_kgIYUcDQ0yiLOCo1aRjeu7kRxndcoitz.jpg);
  background-size: contain;
  background-repeat: repeat;
}
header {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  flex-direction: column;
}
#filter {
  margin: 20px 0;
  width: 200px;
}
#joke-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}
#random-joke-container {
  display: flex;
  justify-content: center;
}
.mainCol {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 400px;
  margin: 10px 20px;
  height: 150px;
  min-height: fit-content;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.btn-random {
  margin: 20px 0;
  width: 200px;
}
